#episodes > div {
    border-style: solid;
    margin-top: 15px;
}
.episode-name {
    cursor: pointer;
    margin-left: 10px;
}
.button-group {

}
.episode-item-in-list > button {
    margin-left: 8px;
}

audio {
    width: 100%;
}

.icon-trash {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}
