#rss_list > div {
    display: inline-block;
    text-align: center;
    margin: 5px;
}
/*#rss_list > div:nth-child(odd) {*/
/*    width:calc(30% - 150px);*/
/*}*/
/*#rss_list > div:nth-child(even) {*/
/*    width:calc(30% - 150px);*/
/*}*/
#rss_list > div > img {
    cursor: pointer;
}

/*@media (max-width: 640px) {*/
/*    #rss_list {*/
/*        column-count: 2;*/
/*    }*/
/*    #rss_list:after {*/
/*        display: table;*/
/*        clear: both;*/
/*    }*/
/*    #rss_list > div {*/
/*        !*display: inline-block;*!*/
/*        !*text-align: center;*!*/
/*        !*margin: 5px;*!*/
/*        float: left;*/
/*        !*width: 150px;*!*/
/*        width: 50%;*/
/*        padding: 10px;*/
/*    }*/
/*    !*#rss_list > div:nth-child(odd) {*!*/
/*    !*    width:calc(30% - 150px);*!*/
/*    !*}*!*/
/*    !*#rss_list > div:nth-child(even) {*!*/
/*    !*    width:calc(30% - 150px);*!*/
/*    !*}*!*/
/*}*/
