#rss_list {
    margin-bottom: 95px;
}

#rss_list > div {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

#rss_list > div > img {
    cursor: pointer;
}

.rss-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}