img {
    border-radius: 50%;
}
.avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.modal-close-but {
    position: absolute;
    right: 5px;
    top: 5px;
}
.later-play-item {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
